  
  *,
  *::before,
  *::after {
    font-family: 'Comic Neue', cursive;
    box-sizing: border-box;
    color: white;
  }

body {
background-color: #3CB2D0;
text-align: center;
}

  .list-name {
    cursor: pointer;
  }
  .list-name:hover {
    /* opacity: 0.7; */
  }



  .new-list {
    color: grey;
    align-content: center;
    text-align: center;
    font-size: 25px;
    margin: 0px auto 0px auto;

    
  }

  ::placeholder {
    color: lightgray;
  }
  
  
  
  .btn-delete {
    opacity: 0.7;
    
    transition: color 200ms;
    height: auto;
    font-size: 21px; 
    color: greenyellow;
    background-color: #3CB2D0;

}
  
  .active-list {
    font-weight: bold;
    color: #3CB2D0;
    background-color: white;
    max-width: max-content;
    margin: 0px auto 0px auto;

  }

    li {
        list-style-type: none;
        font-size: 30px;
        
    
    }

    h1 {
        font-size: 70px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

